<div class="jumbotron">
	<h3>Here are all the cars in this dealership</h3>	
</div>

<ul>
	<% @dealership.cars().each() do |car| %>
		<li><a href="/vehicles/<%= car.id() %>"><%= car.make() %> <%= car.year() %></a></li>
		<% end %>

</ul>

<a href="/dealerships/<%= @dealership.id%>/vehicles/new" class="btn btn-primary">Add a new vehicle</a>

<a href="/" class="btn btn-primary">Return to Main Page</a>